.DS_Store
venv/
__pycache__/
*.pyc
.env
*.pem
mlruns/
data/raw/
models/
*.pklterraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
